.header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  background: #222;
  color: #aaa;
  padding: 0.5rem 1rem;
}

.header__logo {
  width: 10rem;
}

.header__links a {
  display: inline-block;
  text-decoration: none;
  color: #aaa;
  text-align: center;
}

.header__links a + a {
  margin-left: 1rem;
}

.header__links .selected {
  color: #fff;
  pointer-events: none;
}

.header__user {
  text-align: right;
}

.header__user button {
  margin-left: auto;
  background: #fff;
}
