html, body {
  height: 100%;
}

html {
  font-size: 18px;
  line-height: 1.42;
}

body {
  margin: 0;
  padding: 0;
  background: #eee;
}

#root {
  height: 100%;
}

* {
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

input, button {
  outline: none;
}

input, button {
  border: 1px solid #eee;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  -moz-appearance: none;
  appearance: none; 
  padding: 0;
  margin: 0;
}

::-moz-focus-inner {
  border: 0;
  padding: 0;
}

button {
  display: block;
  border: 0;
  cursor: pointer;
}

p {
  margin: 0;
  padding: 0;
}

main {
  height: 100vh;
}

img {
  display: block;
}
