html {
  font-size: 18px;
  line-height: 1.42
}

body {
  margin: 0;
  padding: 0;
  background: #eee;
}

* {
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

input, button {
  outline: none;
}

input {
  border: 1px solid #eee;
  -webkit-appearance: none;
}

::-moz-focus-inner {
  border: 0;
  padding: 0;
}

button {
  display: block;
  border: 0;
  cursor: pointer;
}

p {
  margin: 0;
  padding: 0;
}

main {
  height: 100vh;
}
